* {
    font-family: 'Roboto', sans-serif;
    --main-dark: #252A34;
    --secondary-dark: #252A3499;
    /* the 99 at the end of --secondary-dark is hex for 60% opacity */
    --main-light: #08D9D6;
    --secondary-light: #EAEAEA;
    --selected: #FF2E63;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iconify {
    color: var(--main-light);
    font-size: 4rem;
}

p, h1 {
    color: var(--main-dark);
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.title-2 {
    font-weight: bold;
    font-size: 1rem;
}

.txt-light {
    color: var(--main-light) !important;
}

.subtitle {
    font-size: 1rem;
    color: var(--secondary-dark);
}

.m-10 {
    margin:10px;
}

.m-20{
    margin:20px;
}

.mtb-20 {
    margin: 20px 0px;
}

.p-10 {
    padding:10px;
}

.p-20{
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.bl-1 {
    border-left: 1px solid var(--main-dark);
}

/* Button */
.btn {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;
    color: var(--secondary-light);
    border: 0px;
    background-color: var(--main-dark); 
}

.btn-light {
    background-color: var(--main-light);
}

.btn:hover {
    background-color: var(--selected);
}

a:hover {
    color: var(--selected) !important;
}

/* Bookmark */
.bookmark {
    height: 60px;
    width: 30%;
    background-color: var(--main-dark);
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-light);
}

/* Box Shadow */
.shadow {
    border: 0px;
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}


/* Header/Navbar */
header {
    position: fixed;
    z-index: 1000;
    top:0;
    right:0;
    left:0;
    height: 90px;
    padding: 0 50px;
    background-color: var(--main-dark);
    display:flex;
    justify-content: space-between;

}

header h1 {
    display:flex;
    align-items: center;
    color: var(--secondary-light);
    font-size: 2rem;
}

header span {
    color:var(--main-light);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header .nav-item {
    color: var(--secondary-light);
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
}

.selected {
    color: var(--selected) !important;
}


/* Showcase/Home */
#home {
    background-image: url(./img/slide-1.jpg);
    background-size: cover;
    height: 100vh;
}

#home .showcase-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* Opacity */
    background: rgba(255,255,255,0.5);
    text-align: center;
}

#home .title, #home .subtitle, #home .btn {
    margin: 1.5% auto;
    
}

/* Services */
#services .container {
    margin: 200px 50px;
    display: flex;
    height: 350px;
    justify-content: space-between;
}

#services .service-item {
    height: 100%;
    width: 31%;
    border-radius: 10px 10px 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
}

#services .iconify {
    margin-bottom: 3%;
    font-size: 5rem;
}

#services .service-name {
    font-size: 1.5rem;
}

#services .service-learnmore {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--main-light);
}


/* About Us */

#aboutus .aboutus-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#aboutus .summary {
    display: flex;
    text-align: left;
}

#aboutus .summary-item {
    width: 25%;
}

#aboutus .aboutus-section, #aboutus .headline {
    margin: 5% 10%;
}

#aboutus .headline {
    font-size: 2.5rem;
}

#aboutus .summary-number {
    font-size: 5rem;
}

#aboutus .profile {
    margin: 4% auto;
    height: 300px;
    width: 300px;
    background-image: url(./img/chairman-profile.jpg);
    background-size: cover;
    border-radius: 50%;
}

#aboutus .chairman a {
    text-decoration: none;
    margin: 0px 2%;
}

/* Contact Us */
#contactus .two-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 5%;
}

#contactus .contactus-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactus form {
    width: 100%;
}

#contactus .form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
}

#contactus .subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-dark);
    margin-bottom: 2%;
}

#contactus .form-item input, #contactus .form-item textarea {
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    padding: 13px 30px;
    font-size: 1rem;
    font-weight: bold;
}

#contactus .form-item input {
    height: 50px;
}

#contactus .form-item textarea {
    height: 200px;
    resize: none;
}

#contactus .btn {
    width: 100%;
    float: right;
}

#contactus .map {
    height: 500px;
    width: 100%;
    background-image: url(./img/chairman-profile.jpg);
    background-size: cover;
}

/* Footer */
footer {
    background-color: var(--main-dark);
    color: var(--secondary-light);
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1024px){
    .title {
        font-size: 2.5rem;
    }
    .title-2, .subtitle {
        font-size: 0.8rem;
    }
    
    header .iconify {
        font-size: 3rem;
    }
    /* Header */
    header {
        height: 70px;
    }
    
    header h1 {
        font-size: 1.8rem;
    }

    header li {
        font-size: 0.8rem;
    }

    /* container */
    #services .container {
        flex-direction: column;
        height: 100%;
        align-items: center;
        margin: 10%;
    }

    #services .service-item{
        margin: 5% 0%;
        width: 50%;
        padding: 2% 10%;
    }

    /* About Us */
    #aboutus .headline {
        font-size: 2rem;
    }

    #aboutus .summary-number {
        font-size: 3.5rem;
    }

    #aboutus .chairman .title-2 {
        font-size: 1rem;
    }

    /* Contact Us */

    #contactus .subtitle {
        font-size: 1.5rem;
    }

    #contactus .two-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
    }

    #contactus .contactus-item {
        width: 90%;
        margin: 5% 0%;
    }

    #contactus .map {
        height: 250px;
    }    


    /* Footer */
    footer {
        height: 40px;
        font-size: 1rem;
    }
}

@media only screen and (max-width:768px){
    .title {
        font-size: 2.3rem;
    }

    .bookmark {
        font-size: 1rem;
    }
    /* Services */

    #services .iconify{
        font-size: 4rem;
    }

    
    #services .service-item{
        width: 85%;
        align-items: center;
        border-radius: 10px 100px 10px 100px;
        text-align: center;
    }

    /* About Us */
    #aboutus .headline {
        font-size: 1.8rem;
    }

    #aboutus .summary {
        flex-wrap: wrap;
    }

    #aboutus .summary-item {
        border: 0px;
        width: 50%;
        text-align: center;
    }


    #aboutus .summary-number {
        font-size: 2.8rem;
    }

    #aboutus .chairman .profile {
        width: 200px;
        height: 200px;
    }

    /* Contact Us */

    #contactus .map {
        height: 200px;
    }    


    /* Footer */
    footer {
        height: 40px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:640px){
    .title {
        font-size: 2rem;
    }

    
    /* Header */
    header .iconify {
        font-size: 2.5rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding:0px;
        background-color: var(--secondary-dark);
        height: 4rem;
    }

    header h1 {
        font-size: 1.5rem;
        background-color: var(--main-dark);
        margin: 0px 10px;
        padding: 0.3rem 50%;

    }

    header ul {
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
    }

}

@media only screen and (max-width:425px){
    .title {
        font-size: 1.8rem;
    }

    .btn {
        width: 150px;
    }

    .bookmark {
        font-size: 0.8rem;
    }

    #services .service-item .service-name{
        font-size: 1.2rem;
    }

    #services .service-learnmore {
        font-size: 1rem;
    }


    #aboutus .headline {
        font-size: 1.3rem;
    }

    #contactus .map {
        height: 150px;
    }



}